/* BASE LAYOUT */
@font-face {
    font-family: 'Octicons Regular';
    src: url('octicons.ttf');
    font-style: normal;
}

.mini-icon, .mega-icon {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-transition: color 0.15s ease-in 0;
    -webkit-transition: color 0.15s ease-in 0;
    line-height: 1;
    text-decoration: none;
}
.mini-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.mini-icon-private-repo:before {
    content: "\f06a"}
.mini-icon-public-repo:before {
    content: "\f001"}
.mini-icon-repo-forked:before {
    content: "\f002"}
.mini-icon-create:before {
    content: "\f003"}
.mini-icon-delete:before {
    content: "\f004"}
.mini-icon-push:before {
    content: "\f005"}
.mini-icon-pull:before {
    content: "\f006"}
.mini-icon-readme:before, .mini-icon-wiki:before {
    content: "\f007"}
.mini-icon-octocat:before {
    content: "\f008"}
.mini-icon-site-message:before, .mini-icon-blacktocat:before {
    content: "\f009"}
.mini-icon-invertocat:before {
    content: "\f00a"}
.mini-icon-download:before {
    content: "\f00b"}
.mini-icon-upload:before {
    content: "\f00c"}
.mini-icon-keyboard:before {
    content: "\f00d"}
.mini-icon-gist:before {
    content: "\f00e"}
.mini-icon-gist-private:before {
    content: "\f00f"}
.mini-icon-code-file:before, .mini-icon-download-unknown:before {
    content: "\f010"}
.mini-icon-download-text:before, .mini-icon-text-file:before {
    content: "\f011"}
.mini-icon-download-media:before {
    content: "\f012"}
.mini-icon-download-zip:before {
    content: "\f013"}
.mini-icon-download-pdf:before {
    content: "\f014"}
.mini-icon-download-tag:before, .mini-icon-tag:before {
    content: "\f015"}
.mini-icon-directory:before {
    content: "\f016"}
.mini-icon-submodule:before {
    content: "\f017"}
.mini-icon-person:before {
    content: "\f018"}
.mini-icon-team:before {
    content: "\f019"}
.mini-icon-member-added:before {
    content: "\f01a"}
.mini-icon-member-removed:before {
    content: "\f01b"}
.mini-icon-follow:before {
    content: "\f01c"}
.mini-icon-watching:before {
    content: "\f01d"}
.mini-icon-unwatch:before {
    content: "\f01e"}
.mini-icon-commit:before {
    content: "\f01f"}
.mini-icon-public-fork:before, .mini-icon-fork:before, .mini-icon-branch:before, .mini-icon-tree:before {
    content: "\f020"}
.mini-icon-private-fork:before {
    content: "\f021"}
.mini-icon-pull-request:before {
    content: "\f022"}
.mini-icon-merge:before {
    content: "\f023"}
.mini-icon-public-mirror:before {
    content: "\f024"}
.mini-icon-private-mirror:before {
    content: "\f025"}
.mini-icon-issue-opened:before {
    content: "\f026"}
.mini-icon-issue-reopened:before {
    content: "\f027"}
.mini-icon-issue-closed:before {
    content: "\f028"}
.mini-icon-issue-comment:before {
    content: "\f029"}
.mini-icon-star:before {
    content: "\f02a"}
.mini-icon-commit-comment:before {
    content: "\f02b"}
.mini-icon-help:before {
    content: "\f02c"}
.mini-icon-exclamation:before {
    content: "\f02d"}
.mini-icon-search-input:before {
    content: "\f02e"}
.mini-icon-advanced-search:before {
    content: "\f02f"}
.mini-icon-notifications:before {
    content: "\f030"}
.mini-icon-account-settings:before {
    content: "\f031"}
.mini-icon-logout:before {
    content: "\f032"}
.mini-icon-admin-tools:before {
    content: "\f033"}
.mini-icon-feed:before {
    content: "\f034"}
.mini-icon-apple:before {
    content: "\f036"}
.mini-icon-windows:before {
    content: "\f037";
    content: "";
    background: transparent url("https://a248.e.akamai.net/assets.github.com/assets/primer/buttons/windows-sprite-6047c14510e8ba6d96be0ed68ff38b5caa4dddd2.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.mini-icon-ios:before {
    content: "\f038"}
.mini-icon-download-android:before, .mini-icon-android:before {
    content: "\f039"}
.mini-icon-confirm:before {
    content: "\f03a"}
.mini-icon-unread-note:before {
    content: "\f03b"}
.mini-icon-read-note:before {
    content: "\f03c"}
.mini-icon-arr-up:before {
    content: "\f03d"}
.mini-icon-arr-right:before {
    content: "\f03e"}
.mini-icon-arr-down:before {
    content: "\f03f"}
.mini-icon-arr-left:before {
    content: "\f040"}
.mini-icon-pin:before {
    content: "\f041"}
.mini-icon-gift:before {
    content: "\f042"}
.mini-icon-graph:before {
    content: "\f043"}
.mini-icon-wrench:before {
    content: "\f044"}
.mini-icon-credit-card:before {
    content: "\f045"}
.mini-icon-time:before {
    content: "\f046"}
.mini-icon-ruby:before {
    content: "\f047"}
.mini-icon-podcast:before {
    content: "\f048"}
.mini-icon-key:before {
    content: "\f049"}
.mini-icon-force-push:before {
    content: "\f04a"}
.mini-icon-sync:before {
    content: "\f04b"}
.mini-icon-clone:before {
    content: "\f04c"}
.mini-icon-diff:before {
    content: "\f04d"}
.mini-icon-watchers:before {
    content: "\f04e"}
.mini-icon-discussion:before {
    content: "\f04f"}
.mini-icon-delete-note:before, .mini-icon-remove-close:before {
    content: "\f050"}
.mini-icon-reply:before {
    content: "\f051"}
.mini-icon-mail-status:before {
    content: "\f052"}
.mini-icon-block:before {
    content: "\f053"}
.mini-icon-tag-create:before {
    content: "\f054"}
.mini-icon-tab-delete:before {
    content: "\f055"}
.mini-icon-branch-create:before {
    content: "\f056"}
.mini-icon-branch-delete:before {
    content: "\f057"}
.mini-icon-edit:before {
    content: "\f058"}
.mini-icon-info:before {
    content: "\f059"}
.mini-icon-arr-collapsed:before {
    content: "\f05a"}
.mini-icon-arr-expanded:before {
    content: "\f05b"}
.mini-icon-link:before {
    content: "\f05c"}
.mini-icon-add:before {
    content: "\f05d"}
.mini-icon-reorder:before {
    content: "\f05e"}
.mini-icon-code:before {
    content: "\f05f"}
.mini-icon-location:before {
    content: "\f060"}
.mini-icon-u-list:before {
    content: "\f061"}
.mini-icon-o-list:before {
    content: "\f062"}
.mini-icon-quotemark:before {
    content: "\f063"}
.mini-icon-version:before {
    content: "\f064"}
.mini-icon-brightness:before {
    content: "\f065"}
.mini-icon-fullscreen:before {
    content: "\f066"}
.mini-icon-normalscreen:before {
    content: "\f067"}
.mini-icon-calendar:before {
    content: "\f068"}
.mini-icon-beer:before {
    content: "\f069"}
.mini-icon-secure:before, .mini-icon-lock:before {
    content: "\f06a"}
.mini-icon-added:before {
    content: "\f06b"}
.mini-icon-removed:before {
    content: "\f06c"}
.mini-icon-modified:before {
    content: "\f06d"}
.mini-icon-moved:before, .mini-icon-renamed:before {
    content: "\f06e"}
.mini-icon-add-comment:before {
    content: "\f06f"}
.mini-icon-horizontal-rule:before {
    content: "\f070"}
.mini-icon-arr-right-mini:before {
    content: "\f071"}
.mini-icon-jump-down:before {
    content: "\f072"}
.mini-icon-jump-up:before {
    content: "\f073"}
.mini-icon-reference:before {
    content: "\f074"}
.mini-icon-milestone:before {
    content: "\f075"}
.mini-icon-save-document:before {
    content: "\f076"}
.mini-icon-megaphone:before {
    content: "\f077"}
.mini-icon-chevron:before {
    content: "\f078"}
.mini-icon-gist-forked:before {
    content: "\f079"}
.mini-icon-gist-add:before {
    content: "\f07a"}
.mini-icon-bookmark:before {
    content: "\f07b"}
.mini-icon-filters:before {
    content: "\f07c"}
.mini-icon-dashboard:before {
    content: "\f07d"}
.mini-icon-history:before {
    content: "\f07e"}
.mini-icon-external-link:before {
    content: "\f07f"}
.mini-icon-mute:before {
    content: "\f080"}
.mini-icon-x:before {
    content: "\f081"}
.mini-icon-add-star:before {
    content: "\f082"}
.mini-icon-remove-star:before {
    content: "\f083"}
.mini-icon-circle-slash:before {
    content: "\f084"}
.mini-icon-pulse:before {
    content: "\f085"}
.mini-icon-new-file:before {
    content: "\f086"}
.mega-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}
.mega-icon-private-repo:before {
    content: "\f26a"}
.mega-icon-public-repo:before {
    content: "\f201"}
.mega-icon-repo-forked:before {
    content: "\f202"}
.mega-icon-create:before {
    content: "\f203"}
.mega-icon-delete:before {
    content: "\f204"}
.mega-icon-push:before {
    content: "\f205"}
.mega-icon-pull:before {
    content: "\f206"}
.mega-icon-readme:before, .mega-icon-wiki:before {
    content: "\f207"}
.mega-icon-octocat:before {
    content: "\f208"}
.mega-icon-site-message:before, .mega-icon-blacktocat:before {
    content: "\f209"}
.mega-icon-invertocat:before {
    content: "\f20a"}
.mega-icon-download:before {
    content: "\f20b"}
.mega-icon-upload:before {
    content: "\f20c"}
.mega-icon-keyboard:before {
    content: "\f20d"}
.mega-icon-gist:before {
    content: "\f20e"}
.mega-icon-gist-private:before {
    content: "\f20f"}
.mega-icon-code-file:before, .mega-icon-download-unknown:before {
    content: "\f210"}
.mega-icon-download-text:before, .mega-icon-text-file:before {
    content: "\f211"}
.mega-icon-download-media:before {
    content: "\f212"}
.mega-icon-download-zip:before {
    content: "\f213"}
.mega-icon-download-pdf:before {
    content: "\f214"}
.mega-icon-download-tag:before, .mega-icon-tag:before {
    content: "\f215"}
.mega-icon-directory:before {
    content: "\f216"}
.mega-icon-submodule:before {
    content: "\f217"}
.mega-icon-person:before {
    content: "\f218"}
.mega-icon-team:before {
    content: "\f219"}
.mega-icon-member-added:before {
    content: "\f21a"}
.mega-icon-member-removed:before {
    content: "\f21b"}
.mega-icon-follow:before {
    content: "\f21c"}
.mega-icon-watching:before {
    content: "\f21d"}
.mega-icon-unwatch:before {
    content: "\f21e"}
.mega-icon-commit:before {
    content: "\f21f"}
.mega-icon-public-fork:before, .mega-icon-fork:before, .mega-icon-branch:before, .mega-icon-tree:before {
    content: "\f220"}
.mega-icon-private-fork:before {
    content: "\f221"}
.mega-icon-pull-request:before {
    content: "\f222"}
.mega-icon-merge:before {
    content: "\f223"}
.mega-icon-public-mirror:before {
    content: "\f224"}
.mega-icon-private-mirror:before {
    content: "\f225"}
.mega-icon-issue-opened:before {
    content: "\f226"}
.mega-icon-issue-reopened:before {
    content: "\f227"}
.mega-icon-issue-closed:before {
    content: "\f228"}
.mega-icon-issue-comment:before {
    content: "\f229"}
.mega-icon-star:before {
    content: "\f22a"}
.mega-icon-commit-comment:before {
    content: "\f22b"}
.mega-icon-help:before {
    content: "\f22c"}
.mega-icon-exclamation:before {
    content: "\f22d"}
.mega-icon-search-input:before {
    content: "\f22e"}
.mega-icon-advanced-search:before {
    content: "\f22f"}
.mega-icon-notifications:before {
    content: "\f230"}
.mega-icon-account-settings:before {
    content: "\f231"}
.mega-icon-logout:before {
    content: "\f232"}
.mega-icon-admin-tools:before {
    content: "\f233"}
.mega-icon-feed:before {
    content: "\f234"}
.mega-icon-apple:before {
    content: "\f236"}
.mega-icon-windows:before {
    content: "\f237"}
.mega-icon-ios:before {
    content: "\f238"}
.mega-icon-android:before {
    content: "\f239"}
.mega-icon-confirm:before {
    content: "\f23a"}
.mega-icon-unread-note:before {
    content: "\f23b"}
.mega-icon-read-note:before {
    content: "\f23c"}
.mega-icon-arr-up:before {
    content: "\f23d"}
.mega-icon-arr-right:before {
    content: "\f23e"}
.mega-icon-arr-down:before {
    content: "\f23f"}
.mega-icon-arr-left:before {
    content: "\f240"}
.mega-icon-pin:before {
    content: "\f241"}
.mega-icon-gift:before {
    content: "\f242"}
.mega-icon-graph:before {
    content: "\f243"}
.mega-icon-wrench:before {
    content: "\f244"}
.mega-icon-credit-card:before {
    content: "\f245"}
.mega-icon-time:before {
    content: "\f246"}
.mega-icon-ruby:before {
    content: "\f247"}
.mega-icon-podcast:before {
    content: "\f248"}
.mega-icon-key:before {
    content: "\f249"}
.mega-icon-force-push:before {
    content: "\f24a"}
.mega-icon-sync:before {
    content: "\f24b"}
.mega-icon-clone:before {
    content: "\f24c"}
.mega-icon-diff:before {
    content: "\f24d"}
.mega-icon-watchers:before {
    content: "\f24e"}
.mega-icon-discussion:before {
    content: "\f24f"}
.mega-icon-delete-note:before, .mega-icon-remove-close:before {
    content: "\f250"}
.mega-icon-reply:before {
    content: "\f251"}
.mega-icon-mail-status:before {
    content: "\f252"}
.mega-icon-block:before {
    content: "\f253"}
.mega-icon-tag-create:before {
    content: "\f254"}
.mega-icon-tab-delete:before {
    content: "\f255"}
.mega-icon-branch-create:before {
    content: "\f256"}
.mega-icon-branch-delete:before {
    content: "\f257"}
.mega-icon-edit:before {
    content: "\f258"}
.mega-icon-info:before {
    content: "\f259"}
.mega-icon-arr-collapsed:before {
    content: "\f25a"}
.mega-icon-arr-expanded:before {
    content: "\f25b"}
.mega-icon-link:before {
    content: "\f25c"}
.mega-icon-add:before {
    content: "\f25d"}
.mega-icon-reorder:before {
    content: "\f25e"}
.mega-icon-code:before {
    content: "\f25f"}
.mega-icon-location:before {
    content: "\f260"}
.mega-icon-u-list:before {
    content: "\f261"}
.mega-icon-o-list:before {
    content: "\f262"}
.mega-icon-quotemark:before {
    content: "\f263"}
.mega-icon-version:before {
    content: "\f264"}
.mega-icon-brightness:before {
    content: "\f265"}
.mega-icon-fullscreen:before {
    content: "\f266"}
.mega-icon-normalscreen:before {
    content: "\f267"}
.mega-icon-calendar:before {
    content: "\f268"}
.mega-icon-beer:before {
    content: "\f269"}
.mega-icon-secure:before, .mega-icon-lock:before {
    content: "\f26a"}
.mega-icon-added:before {
    content: "\f26b"}
.mega-icon-removed:before {
    content: "\f26c"}
.mega-icon-modified:before {
    content: "\f26d"}
.mega-icon-moved:before, .mega-icon-renamed:before {
    content: "\f26e"}
.mega-icon-add-comment:before {
    content: "\f26f"}
.mega-icon-horizontal-rule:before {
    content: "\f270"}
.mega-icon-arr-right-mini:before {
    content: "\f271"}
.mega-icon-jump-down:before {
    content: "\f272"}
.mega-icon-jump-up:before {
    content: "\f273"}
.mega-icon-reference:before {
    content: "\f274"}
.mega-icon-milestone:before {
    content: "\f275"}
.mega-icon-save-document:before {
    content: "\f276"}
.mega-icon-megaphone:before {
    content: "\f277"}
.mega-icon-chevron:before {
    content: "\f278"}
.mega-icon-gist-forked:before {
    content: "\f279"}
.mega-icon-gist-add:before {
    content: "\f27a"}
.mega-icon-bookmark:before {
    content: "\f27b"}
.mega-icon-filters:before {
    content: "\f27c"}
.mega-icon-dashboard:before {
    content: "\f27d"}
.mega-icon-history:before {
    content: "\f27e"}
.mega-icon-external-link:before {
    content: "\f27f"}
.mega-icon-mute:before {
    content: "\f280"}
.mega-icon-x:before {
    content: "\f281"}
.mega-icon-add-star:before {
    content: "\f282"}
.mega-icon-remove-star:before {
    content: "\f283"}
.mega-icon-circle-slash:before {
    content: "\f284"}
.mega-icon-pulse:before {
    content: "\f285"}
.mega-icon-new-file:before {
    content: "\f286"}
.mini-icon-clippy {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    background-image: url("https://a248.e.akamai.net/assets.github.com/assets/primer/icons/clippy-93d74a8448d4843acdf2b85a5acbea20e61df5d2.png");
}
.mini-icon-clippy:before {
    content: ""}

#login {
    margin: 15px 0px;
    padding: 0px;
    text-align: center;
}

#login .inner {
    width: 540px;
    padding-bottom: 6px;
    margin: 60px auto;
    text-align: left;
    border: 1px solid #aab;
    background-color: #f0f0fa;
    -moz-box-shadow: 2px 2px 2px #eee;
    -webkit-box-shadow: 2px 2px 2px #eee;
    -khtml-box-shadow: 2px 2px 2px #eee;
    box-shadow: 2px 2px 2px #eee;
}

#login .inner .fheader {
    padding: 18px 26px 14px 26px;
    background-color: #f7f7ff;
    margin: 0px 0 14px 0;
    color: #2e3741;
    font-size: 18px;
    font-weight: bold;
}

#login .inner .cssform p {
    clear: left;
    margin: 0;
    padding: 4px 0 3px 0;
    padding-left: 105px;
    margin-bottom: 20px;
    height: 1%;
}

#login .inner .cssform input[type='text'] {
    width: 120px;
}

#login .inner .cssform label {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-left: -105px;
    width: 110px;
    padding-top: 3px;
    padding-right: 10px;
}

#login #remember_me_holder {
    padding-left: 120px;
}

#login #submit {
    margin-left: 15px;
}

#login #remember_me_holder label {
    float: none;
    margin-left: 0;
    text-align: left;
    width: 200px
}

#login .inner .login_message {
    padding: 6px 25px 20px 25px;
    color: #c33;
}

#login .inner .text_ {
    width: 120px;
}

#login .inner .chk {
    height: 12px;
}

.item {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2;
}

.comment {
    margin: 20px 0;
}

.comment-bubble {
    position: relative;
    margin-left: 0;
}

.comment-inner {
    min-height: 33px;
    border: 1px solid #CACACA;
    background-color: white;
}

.comment-header {
    height: 33px;
    padding: 0 10px 0 6px;
    border-bottom: 1px solid #CCC;
    background-color: #E1E1E1;
    background-image: -moz-linear-gradient(#F8F8F8, #E1E1E1);
    background-image: -webkit-linear-gradient(#F8F8F8, #E1E1E1);
    background-image: linear-gradient(#F8F8F8, #E1E1E1);
    background-repeat: repeat-x;
}

.commit-header {
    height: 33px;
    padding: 0 10px 0 6px;
    border-bottom: 1px solid #CCC;
    background-color: #DDE8EB;
    background-image: -moz-linear-gradient(#F8FBFC, #DDE8EB);
    background-image: -webkit-linear-gradient(#F8FBFC, #DDE8EB);
    background-image: linear-gradient(#F8FBFC, #DDE8EB);
    background-repeat: repeat-x;
}

.comment-header-text {
    display: inline-block;
    max-width: 600px;
    height: 33px;
    line-height: 33px;
    font-weight: bold;
    color: #222;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.comment-header-time {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    font-size: 12px;
}

.comment-content {
    padding: 10px;
    color: #333;
    background: #FBFBFB;
    overflow: auto;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.commit-content {
    padding: 10px;
    color: #333;
    background: white;
    overflow: auto;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bubble {
    padding: 3px;
    background: #EEE;
    border-radius: 3px;
}

.comment-bubble::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 10px solid #EEE;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEE transparent transparent;
    position: absolute;
    left: -10px;
    top: 15px;
}

.status {
    position: relative;
    margin: 15px 0;
    padding: 12px 19px 12px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2;
}

.striped {
    background-image: url('../images/striped-background.png');
}

.striped-success {
    background-image: url('../images/striped-background-success.png');
}

.no-striped {

}

.due-time {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    z-index: 1;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 4px;
    border-bottom-left-radius: 0;
}

.striped::after {
    content: "Overdue";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #FACFCF;
    border: 1px solid #DDD;
    color: #000;
    z-index: 1;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 4px;
    border-bottom-left-radius: 0;
}

.notification {
    position: relative;
    margin: 15px 0;
    padding: 14px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    background-color: #f5f5f5;
}

.container .credit {
    text-align: center;
    margin: 20px 0;
}

.muted {
    color: #999;
}